* {
	margin: 0;
	padding: 0;
}

.store-section{
    padding-top:100px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.store-section1{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.store-section2{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.p1{
	font-size: 24px;
    padding-top: 10px;
    padding-left: 15px;
}

.p2{
	padding-top: 10px;
    font-size: 20px;
    color: rgb(147,147,147);
    padding-bottom: 50px;
    padding-left: 15px;
}

.img-effect{
	padding:5px 15px;
}

.img-effect:hover{
	cursor:pointer;
}

.img-effect:hover .store-image{
	opacity: 0.3;
}

.store-image{
	padding:0px 15px;
}

@media screen and (max-width: 800px){
	.store-image{
	width: 100%;
	}

	.img-effect{
		width:100%;
	}
}

@media screen and (max-width: 486px){
	.store-image{
		width:100%;
	}
}